In [1]:
import pandas as pd

In [2]:
everything = pd.read_csv('https://popcon.debian.org/by_inst',
    engine='python',
    delim_whitespace=True,
    header=0,
    comment='#',
    skipinitialspace=True,
    skipfooter=2,
    names=['rank','package','installed_by','used_by','old','updated_recently','no-files','extra'],
    usecols=['package','installed_by','used_by','updated_recently']
)

In [3]:
# 5 most installed packages
everything.nlargest(n=5, columns=['installed_by'])

     package  installed_by  used_by  updated_recently
0  coreutils        231655   204815             16951
1    libacl1        231655   212958             15635
2  perl-base        231655   212860             18744
3    debconf        231654   212408             16643
4     passwd        231654   211592             16141

In [4]:
# 5 most used packages
everything.nlargest(n=5, columns=['used_by'])

          package  installed_by  used_by  updated_recently
37          libc6        231604   214460             16557
1         libacl1        231655   212958             15635
2       perl-base        231655   212860             18744
29    libselinux1        231639   212497             16523
16  libgpg-error0        231647   212436             15891

In [5]:
games = pd.read_csv('https://popcon.debian.org/main/games/by_inst',
    engine='python',
    delim_whitespace=True,
    header=0,
    comment='#',
    skipinitialspace=True,
    skipfooter=2,
    names=['rank','package','installed_by','used_by','old','updated_recently','no-files','extra'],
    usecols=['package','installed_by','used_by','updated_recently']
)

In [6]:
# 5 most installed games
games.nlargest(n=5, columns=['installed_by'])

          package  installed_by  used_by  updated_recently
0    quadrapassel         56661     1460             12268
1        hoichess         56651     1686             12351
2       lightsoff         56623     1192             12272
3  gnome-mahjongg         56402     1786             12313
4      swell-foop         56368     1162             14015