In [1]:
import pandas as pd

In [2]:
# grab the last 90 days of formula installs
df = pd.read_json('https://formulae.brew.sh/api/analytics/install/90d.json')
formulas = pd.json_normalize(df["items"])

# pesky numbers inside strings
formulas["count"] = pd.to_numeric(formulas["count"].str.replace(',',''))
formulas["percent"] = pd.to_numeric(formulas["percent"])

In [3]:
# top 5 most installed formulae
formulas.nlargest(n=5, columns=['count'])

   number          formula    count  percent
0       1        openssl@3  1378891     2.54
1       2          gettext   767094     1.41
2       3      python@3.11   760441     1.40
3       4  ca-certificates   756405     1.39
4       5           sqlite   694498     1.28

In [4]:
# grab the last 90 days of cask installs
df = pd.read_json('https://formulae.brew.sh/api/analytics/cask-install/90d.json')
casks = pd.json_normalize(df["items"])

# pesky numbers inside strings
casks["count"] = pd.to_numeric(casks["count"].str.replace(',',''))
casks["percent"] = pd.to_numeric(casks["percent"])

In [5]:
# top 5 casks
casks.nlargest(n=5, columns=['count'])

   number                    cask  count  percent
0       1      visual-studio-code  79430     2.60
1       2                  iterm2  69975     2.29
2       3                  docker  59337     1.94
3       4           google-chrome  53082     1.74
4       5  android-platform-tools  46178     1.51